<h1>New Task</h1>
<form method=POST action=/tasks/new>
  <textarea placeholder='start writing your new task here...' name=task id=task></textarea>


  <label for=due-date>Due date(optional)</label>
  <input type=date name=due_date id=due_date>

  
  <label for='category'>Assign category:</label>
  <br>
  <select name='category' id='category'>
    <option value='nil'>none</option>
    <%@categories.each do |c|%>
      <option value=<%=c.id%> > <%="#{c.name}"%>  </option>
    <%end%>
  </select>

  <br>

  <input class='btn-primary mt-1' type=submit value='Add Task'>
</form>