<h1>New Task</h1>
<form method=POST action=/tasks/new>
  <textarea name=task id=task></textarea>


  <label for=due-date>Due date(optional)</label>
  <input type=date name=due_date id=due_date>
  <input type=submit value='Add Task'>
</form>