<h1>New Task</h1>
<form method=POST action=/tasks/new>
  <%# <label for=task>Task</label>
  <br> %>
  <textarea name=task id=task></textarea>

  <br>
  <br>

  <label for=due-date>Due date</label>
  <br>
  <input type=date name=due_date id=due_date>
  <br>
  <br>
  <input type=submit value='Add Task'>
</form>