<form class='login-signup-form' method=POST acton='/signup'>
  <h2>Create a new Account</h2> 
  <p>only alphanumeric characters are valid</p>

  <label for=username>username</label>
  <input type=text name='username' id='username'>

  <label for=password>password</label>
  <input type=text name='password' id='password'>

  <input class='btn-primary mt-1' type=submit value='Create Account'>
</form>