<form class='login-signup-form' method=POST action='/login'>
  <h2>Welcome, please sign in</h2> 

  <label for=username>username</label>
  <input type=text name='username' id='username'>

  <label for=password>password</label>
  <input type=text name='password' id='password'>

  <input class='btn-primary my-1' type=submit value=Login>

  <a href='/signup'>Create Account</a>
</form>
